@import url("https://pro.fontawesome.com/releases/v5.15.0/css/all.css");

.loader {
  z-index: -10;
}

.btn {
  @apply p-2 px-3 text-lg text-gray-500 font-semibold rounded-md focus:outline-none;
}

.primary-btn {
  @apply bg-green-300 text-white hover:bg-green-400;
}

.secondary-btn {
  @apply bg-gray-200 text-black font-normal hover:bg-indigo-200;
}

input, label, textarea, #body, .body-content {
  @apply block m-2;
}

label, .body-content {
  @apply text-blue-400 uppercase;
}

input, textarea, #body {
  @apply p-2 focus-within:outline-none border-2 border-gray-500 rounded-md w-full;
}

input[type="submit"] {
  @apply w-auto inline-block bg-indigo-400 border-none text-white mx-0 cursor-pointer font-normal;
}

input[type="checkbox"] {
  display: inline-block;
  @apply w-auto;
}

.tc {
  display: inline-block;
}

.tc a {
  text-decoration: underline;
  text-transform: capitalize;
}

form span {
  @apply inline-block p-2;
}

.w-34 {
  width: 34%;
}

.error {
  @apply border-red-700;
}

.success {
  @apply border-green-700;
}

.logged-nav {
  @apply absolute w-44 bg-gray-100 flex flex-col shadow-2xl -left-10 top-full my-3 z-10 rounded-lg border border-gray-400 text-gray-700 transition-all;
}

.del-btn {
  @apply bg-red-600 text-white font-normal;
}

.feed-btn {
  @apply font-medium text-gray-700 uppercase p-2 text-sm bg-gray-50 text-black m-2 hover:bg-green-300  focus:outline-none;
}

.feed-active {
  @apply bg-green-400 text-white;
}